.para{
	color: white;
	width: 90%;
	font-family: sans-serif;
	margin-left: 20px;
}
.input1
{
		margin-left: 18px;
		margin-top: 18px;
		margin-bottom: 10px;
		width: 	250px;
		font-size: 1rem;
}
.input2
{
		margin-left: 18px;
		margin-top: 18px;
		margin-bottom: 10px;
		width: 	30px;
		font-size: 2rem;
}
.input3
{
		margin-left: 18px;
		margin-top: 10px;
		width: 	110px;
		border-color: black;
		color: white;
		font-size: 1rem;		
		background-color: black;
}
.input1
{
		margin-left: 6px;
		margin-top: 18px;
		margin-bottom: 10px;
		width: 	250px;
		font-size: 1rem;
}
.input4
{
	background-color: deepskyblue;
	border-color: deepskyblue;
	color: white;
}